<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <title>
            {{ page_title }}
            {%- if current_tags %} &ndash; tagged "{{ current_tags | join ', ' }}"{% endif -%}
            {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
            {%- unless pag_title contains shop.name %} &ndash; {{ shop.name }}{%  endunless -%}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,,chrome=1">
        <meta name="viewport" content="{{ page_description | escape }}">
        <link rel="canonical" href="{{ canonical_url }}">
  
        
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
        
        {{ content_for_header }}
        {{ 'swiper-bundle.min.css' |  asset_url |  stylesheet_tag }}
        {{ 'style.css' |  asset_url |  stylesheet_tag }}
    
        </head>
    <body>
        {% sections 'header-group' %}
        <main role="main" id="MainContent" class="container mx-auto">
            {{ content_for_layout }}
            {% sections 'footer-group' %}
        </main>
        
        <script src="{{ 'swiper-bundle.min.js' |  asset_url }}" defer="defer"></script>
        <script src="{{ 'global.js' |  asset_url }}" defer="defer"></script>
        <script>
            window.shopUrl = '{{ request.origin }}';
            window.routes = {
              cart_add_url: '{{ routes.cart_add_url }}',
              cart_change_url: '{{ routes.cart_change_url }}',
              cart_update_url: '{{ routes.cart_update_url }}',
              cart_url: '{{ routes.cart_url }}',
              predictive_search_url: '{{ routes.predictive_search_url }}',
              product_recommendations_url: '{{ routes.product_recommendations_url }}',
            };
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
          </script>
    </body>
</html>