<footer class="footer-global">

    <div class="footer-top">
            <ul class="products-list border">
                {{ 'footer.list.products' | t }}
                {% for product in collections.frontpage.products limit: 4 %}
                    <li>
                        <a href="{{ product.url }}">{{ product.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="contact-list border">
                {% if settings.footer_menu_handles %}
                    {% assign footerHandles = settings.footer_menu_handles | split: ',' %}
                    
                    {% for handle in footerHandles %}
                        {% assign footerMenu = linklists[handle] %}
                        {% if footerMenu %}
                            {{ footerMenu.title }}
                            <nav aria-label="{{ footerMenu.title }}">
                                <div class="nav-list">
                                    {% for link in footerMenu.links %}
                                        <li>
                                            {% assign child_list_handle = link.title | handleize %}
                                            {% if linklists[child_list_handle].links != blank %}
                                                <a href="{{ link.url }}">{{ link.title }}</a>
                                                [{% for childlink in linklists[child_list_handle].links %}
                                                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                                {% endfor %}]
                                            {% else %}
                                                <a href="{{ link.url }}">{{ link.title }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </div>
                            </nav>
                        {% else %}
                            <p>Menu with handle "{{ handle }}" not found.</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="about-us">
                {{ 'general.about.title' | t }}
                <p>{{ 'general.about.descrption' | t }}</p>
            </div>
    </div>

   
    <div class="footer-bottom">

        <a href="/">
        {% capture store_name %}
            {% if settings.store_name_custom != blank and settings.store_name_custom != 'USE_DEFAULT' %}
                {{ settings.store_name_custom }}
            {% else %}
                {{ shop.name }}
            {% endif %}
        {% endcapture %}
        </a>
        {% assign copyright_date = 'now' | date: '%Y' %}
        <span class="copyright-info">
                {{ 'footer.bottom.copyright' | t: date: copyright_date, name: store_name }}
        </span>
        <div class="social-links">
            <a href="{{ 'footer.social.facebook_url' | t }}" target="_blank">
                <img width="20px" height="20px" src="{{ 'facebook.svg' |   asset_url }}" alt="{{ 'footer.social.alt' | t: social: 'Facebook' }}">
            </a>
            <a href="https://www.instagram.com/{{ 'footer.social.instagram_handle' | t }}" target="_blank">
                <img width="20px" height="20px" src="{{ 'instagram.svg' |   asset_url }}" alt="{{ 'footer.social.alt' | t: social: 'Instagram' }}">
            </a>
        </div>
    </div>
    
    
</footer>
