<footer>
    <a href="/">
        {% capture store_name %}
            {% if settings.store_name_custom != blank and settings.store_name_custom != 'USE_DEFAULT' %}
                {{ settings.store_name_custom }}
            {% else %}
                {{ shop.name }}
            {% endif %}
        {% endcapture %}
        
        {{ 'general.shop.name' | t: name: store_name }}
    </a>
    {% if settings.footer_menu_handles %}
        {% assign footerHandles = settings.footer_menu_handles | split: ',' %}
        {% for handle in footerHandles %}
            {% assign footerMenu = linklists[handle] %}
            {% if footerMenu %}
                <nav aria-label="{{ footerMenu.title }}">
                    <div class="nav-list">
                        {% for link in footerMenu.links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if linklists[child_list_handle].links != blank %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                                [{% for childlink in linklists[child_list_handle].links %}
                                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                {% endfor %}]
                            {% else %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </nav>
            {% else %}
                <p>Menu with handle "{{ handle }}" not found.</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% assign copyright_date = 'now' | date: '%Y' %}
      <span class="copyright-info">
            {{ 'footer.bottom.copyright' | t: date: copyright_date, name: store_name }}
      </span>
</footer>
